* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    text-decoration: none;
}

.main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar:horizontal {
    height: 5px;
}


::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--icon-gradient);
    border-radius: 10px;
}
