* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    text-decoration: none;
}

html, body, #app, .main {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    zoom: 0.8;
    overflow: auto;
}

@supports not (zoom: 1) {
    #app {
        transform: scale(0.8);
        transform-origin: top left;
        width: 125%;
        height: 100vh;
        overflow: auto;
    }
}

.main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar:horizontal {
    height: 5px;
}


::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--icon-gradient);
    border-radius: 10px;
}

::selection {
    background-color: var(--blue-100);
    color: var(--main-color);
}