.level-enter-active,
.level-leave-active {
    transition: opacity 0.3s ease;
}

.level-enter-from,
.level-leave-to {
    opacity: 0;
}

.node-wrapper{
    border-radius: 8px;
 }

.node-wrapper:hover {
    background-color: #f0f3fa
}

.node-wrapper:focus {
    border: 1px solid #b1c9ef;
    background-color: #d5deef;
}